
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}


.heading {
    text-align: center;
    color: black;
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}


header {
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

header .logo {
    color: black;
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i {
    color: #28a745;
}

header .navbar a {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: black;
}

.more {
    font-size: 1.7rem;
    color: black;
}

.more:hover {
    cursor: pointer;
}

header .navbar a.active,
header .navbar a:hover {
    color: #fff;
    background:  #28a745;
}

header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: black;
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover {
    color: #fff;
    background: #8fbc8f;
    transform: rotate(360deg);
}

header .icons #menu-bars {
    display: none;
}



.left-bar {
    position: fixed;
    top: 0;
    left: -200px;
    height: 100%;
    width: 200px;
    background-color:#00a087;
    color: white;
    transition: left 0.3s ease;
    z-index: 1000;
}

.left-bar-expanded {
    left: 0;
    z-index: 10;
}

.content-page {
    transition: margin-left 0.3s ease;
}

.content-page-extended {
    margin-left: 200px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
}

.links a {
    font-size: 24px;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #ffffff;
}


.search-container {
    margin-top: 40px;
    display: none;
}

.show-search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 250px;
}

.search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color:#28a745;
    color: #fff;
    cursor: pointer;
}

.search-button:hover {
    background-color: #28a745;
}

.search-icon {
    margin-right: 5px;
}

.scan-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    margin-right: 5px;
}

.scan-button:hover {
    background-color: #218838;
}

.scan-icon {
    margin-right: 5px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.product {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 30px;
}

.product:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-7px);
}

.product h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-decoration: none;
}

.product a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 10px 15px;
}

.product-image {
    height: 130px;
    width: auto;
    margin-bottom: 10px;
}

.product-button {
    background-color:#3cb371;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
}

.product-button:hover {
    cursor: pointer;
    color: black;
    background-color: aquamarine;
}

.product h3,
.product h5,
.product p {
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle {
    text-align: center;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


.scris-sus h2 {
    position: relative;
    font-size: 40px;
    padding-top: 40px;
    padding-left: 200px;
    padding-right: 200px;
    background: #f2f2f2;
    text-align: center;
}

.scris-sus p {
    position: relative;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 20px;
    padding-top: 15px;
    background: #f2f2f2;
    text-align: center;
}

#welcome a {
    display: inline-block;
    padding: 7px 30px;
    color: #28a745;
    background: #222222;
}

#welcome p {
    font-size: 18px;
}

.subscribe {
    width: 180px;
    height: 50px;
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    font-size: 24px;
    color: #a8f3e9;
    background: #222222;
    border: none;
    border-radius: 5px;
}

.subscribe:hover {
    color: #222222;
    background: #a8f3e9;
    cursor: pointer;
}

#welcome a:hover {
    color: #222222;
    background-image: linear-gradient(to top right, #6B097A, #274BDB, #00FF00, #FFA500, #FF0000);
    background-size: 400% 400%;
    animation: gradient-animation 4s infinite;
    animation-timing-function: linear;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 100% 0%;
    }
}

#welcome {
    position: relative;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 60px;
    background: #f2f2f2;
    text-align: center;
}


.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
}

.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: white;
}

.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}

.Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
}

.Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}

.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

.Btn:active {
    transform: translate(2px ,2px);
}

@media only screen and (max-width: 1200px) {
    
    header {
        padding: 1rem 2%;
    }
    
    .left-bar {
        width: 150px;
    }
}

@media only screen and (max-width: 992px) {
    
    .products-container {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .product {
        width: calc(33.33% - 20px);
    }
}

@media only screen and (max-width: 768px) {
    
    .products-container {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .product {
        width: calc(50% - 20px);
    }

    
    header {
        padding: 1rem;
    }

    header .logo {
        font-size: 2rem;
    }

    header .navbar {
        flex-direction: column;
        background: #fff;
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        transform: translateY(-100%);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    header .navbar.active {
        transform: translateY(0);
        opacity: 1;
    }

    header .navbar a {
        display: block;
        padding: 1rem 0;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #ccc;
    }

    header .icons #menu-bars {
        display: block;
    }

    header .icons i,
    header .icons a {
        height: auto;
        line-height: normal;
        width: auto;
        font-size: 2rem;
        margin-left: 1rem;
    }
}



.footer {
    background-color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.social-media {
    margin-bottom: 10px;
}

.social-icon {
    display: inline-block;
    margin-right: 10px;
    color: #333;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #555;
}

.footer-text {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
}