
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

.heading {
    text-align: center;
    color: black;
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

header {
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    width: 100%;
    padding: 1rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

header .logo {
    color: black;
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i {
    color: #0F52BA;
}

header .navbar a {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: black;
}

.more {
    font-size: 1.7rem;
    color: black;
}

.more:hover {
    cursor: pointer;
}

header .navbar a.active,
header .navbar a:hover {
    color: #fff;
    background: 	#4169E1;
}

header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: black;
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover {
    color: #fff;
    background: 		#4169E1;
    transform: rotate(360deg);
}

header .icons #menu-bars {
    display: none;
}

/*Left bar */
.left-bar {
    position: fixed;
    top: 0;
    left: -200px;
    /* Initially hide the sidebar off-screen */
    height: 100%;
    width: 200px;
    background-color: #1434A4;
    color: white;
    transition: left 0.3s ease;
    /* Add a transition effect for smooth appearance/disappearance */
    z-index: 1000;
    /* Set a higher z-index to make sure it appears above other elements */
}

.left-bar-expanded {
    left: 0;
    /* Display the sidebar when the class is applied */
    z-index: 10;
}

.content-page {
    transition: margin-left 0.3s ease;
    /* Add a transition effect for the content page when the sidebar appears/disappears */
}

.content-page-extended {
    margin-left: 200px;
    /* Adjust the margin to make room for the sidebar */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #1434A4;
    /* Position the button on the right side */
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    /* Increase the font size for a bigger button */
    cursor: pointer;
}
.close-button:hover{
    background-color: #1434A4;
}
.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
}

.links a {
    font-size: 24px;
    /* Adjust the font size */
    padding: 15px 20px;
    /* Add padding for better spacing */
    color: #89CFF0;
    text-decoration: none;
    transition: color 0.3s ease;
    /* Add transition for smooth color change on hover */
}

.links a:hover {
    color: #ffffff;
    /* Change color on hover */
}

/*Search */
.search-container {
    margin-top: 40px;
    display: none;
    /* Initially hide the search container */
}

.show-search-container {
    display: block;
    /* Show the search container */
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 250px;
    /* Adjust as needed */
}

.search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}

.search-icon {
    margin-right: 5px;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #bbd2fc, #7c73f8);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: flex-start;
    min-height: 100vh;
}


.container {
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 650px;
    margin-top: 2rem;
    color: #333;
    box-sizing: border-box; /* Include padding in width calculation */
}
h2 {
    color: #000000;
    font-weight: bold;
    font-size: 2.4rem;
    margin: 0;
    margin-bottom: 1rem;
}

label {
    color: #000000;
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    display: block;
    margin-right: 1rem;
    margin-top: 20px;
    width: 100%;
}

input[type="text"],
input[type="password"],
input[type="number"],
select,
.select,
textarea {
    width: calc(100% - 2rem);
    font-size: 1.9rem;
    background-color: #f8f9fa; 
    border-radius: 0.5rem;
    border: 1.2px solid #d1d5db;
    color: #333; /* Text color */
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    display: block;
}

textarea {
    height: 200px;
}

button[type="submit"] {
    background-color: #007bff; /* Button color */
    color: #fff;
    border-radius: 0.5rem;
    padding: 1.5rem; /* Increased padding */
    font-size: 1.8rem; /* Increased font size */
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border: none;
    outline: none;
    display: block;
    margin: 0 auto;
}

button[type="submit"]:hover {
    background-color: #0056b3; 
    color: #fff;
}

/* Additional styles for the profile section */
.profile-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
    box-sizing: border-box; 
    width: 800px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
}

.profile-form label {
    font-size: 1.8rem; 
}
.profile-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.checkbox {
    margin-bottom: 10px;
    font-size: 1.8rem;
}

.profile-form form input {
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 1.8rem;
}

.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.8rem; /* Button font size */
}

.message {
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
    border-radius: 5px;
    font-size: 1.8rem;
}

/* Adjust font size for lists */
li {
    font-size: 1.8rem;
}