<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Confirmation</title>
</head>
<body>
    <h1>Order Confirmation</h1>
    <p>Dear {{ first_name }} {{ last_name }},</p>
    <p>Your order has been successfully placed with the following details:</p>
    <ul>
        <li>Address: {{ address }}</li>
        <li>City: {{ city }}</li>
        <li>Country: {{ country }}</li>
        <li>Zip Code: {{ zip_code }}</li>
        {% for item in basket_items %}
        {% if item.product %}
        <li>{{ item.product.product_name }} - Quantity: {{ item.quantity }} - Price: ${{ item.price }}</li>
        {% endif %}
        {% if item.api_product %}
        <li>{{ item.api_product.product_name }} - Quantity: {{ item.quantity }} - Price: ${{ item.price }}</li>
        {% endif %}
        {% endfor %}
        <li>Total Price: ${{ total_price }}</li>
        <!-- Display used discounts -->
        {% if used_discounts %}
        <li>Discounts Used:
            <ul>
                {% for discount in used_discounts %}
                <li>{{ discount.code }} - {{ discount.amount }}% off</li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
    </ul>
    <p>Thank you for shopping with us!</p>
</body>
</html>
