{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Create a Product</title>
    <link rel="stylesheet" href="{% static 'post-form.css' %}">
</head>
<body>
    <div style="margin-bottom:30px" class="wrapper profile">
        <div class="profile-container">
            <div class="col-right">
                <h2>Create a product</h2>
                {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
                <form method="post" enctype="multipart/form-data" autocomplete="off">
                    {% csrf_token %}
                    {{ form.product_name.errors }}
                    <label for="{{ form.product_name.id_for_label }}">Product Name:</label>
                    {{ form.product_name }}

                    {{ form.brands.errors }}
                    <label for="{{ form.brands.id_for_label }}">Brands:</label>
                    {{ form.brands }}

                    {{ form.quantity.errors }}
                    <label for="{{ form.quantity.id_for_label }}">Quantity:</label>
                    {{ form.quantity }}

                    {{ form.categories.errors }}
                    <label for="{{ form.categories.id_for_label }}">Categories:</label>
                    {{ form.categories }}

                    {{ form.image.errors }}
                    <label for="{{ form.image.id_for_label }}">Image:</label>
                    {{ form.image }}
                    
                    {{ form.ean_code.errors }}
                    <label for="{{ form.ean_code.id_for_label }}">Ean code:</label>
                    {{ form.ean_code }}
                    
                    {{ form.protein_per_100g.errors }}
                    <label for="{{ form.protein_per_100g.id_for_label }}">Protein per 100g:</label>
                    {{ form.protein_per_100g }}

                    {{ form.carbs_per_100g.errors }}
                    <label for="{{ form.carbs_per_100g.id_for_label }}">Carbs per 100g:</label>
                    {{ form.carbs_per_100g }}

                    {{ form.fats_per_100g.errors }}
                    <label for="{{ form.fats_per_100g.id_for_label }}">Fats per 100g:</label>
                    {{ form.fats_per_100g }}

                    {{ form.sugars_per_100g.errors }}
                    <label for="{{ form.sugars_per_100g.id_for_label }}">Sugar per 100g:</label>
                    {{ form.sugars_per_100g }}

                    {{ form.sodium_per_100g.errors }}
                    <label for="{{ form.sodium_per_100g.id_for_label }}">Sodium per 100g:</label>
                    {{ form.sodium_per_100g }}

                    {{ form.saturated_fats_per_100g.errors }}
                    <label for="{{ form.saturated_fats_per_100g.id_for_label }}">Saturated fats per 100g:</label>
                    {{ form.saturated_fats_per_100g }}

                    {{ form.kcal_per_100g.errors }}
                    <label for="{{ form.kcal_per_100g.id_for_label }}">Kcal per 100g:</label>
                    {{ form.kcal_per_100g }}

                    {{ form.price.errors }}
                    <label for="{{ form.price.id_for_label }}">Price:</label>
                    {{ form.price }}

                    {{ form.is_vegan.errors }}
                    <label for="{{ form.is_vegan.id_for_label }}">Is vegan:</label>
                    {{ form.is_vegan }}

                    {{ form.is_vegetarian.errors }}
                    <label for="{{ form.is_vegetarian.id_for_label }}">Is vegetarian:</label>
                    {{ form.is_vegetarian}}

                    {{ form.allergies.errors }}
                    <label for="{{ form.allergies.id_for_label }}">Allergies:</label>
                    {{ form.allergies }}

                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
