{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wellnesscorner</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
    
</head>
</head>
<style>
#scannedBarcode {
    display: none; 
    justify-content: center;
    align-items: center;
    height: 70vh; 
    margin-top: 20px; 
    position: relative; 
}

#scannedBarcode video {
    width: auto;
    height: 100%; 
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
}
</style>
<body>
    <div class="left-bar">
    <button class="close-button" onclick="closeBar()">
        <i class="fa-solid fa-times"></i>
    </button>
    <div class="links">
        <a href="{% url 'create' %}">Create Product</a>
        <a href="{% url 'my_products' %}">My Products</a>
        <a href="{% url 'create_post' %}">Create Post</a>
        <a href="{% url 'post_list' %}">Posts</a>
        <a href="{% url 'my_posts' %}">My posts</a>
        {% if request.user.is_superuser %}
        <a href="{% url 'approve_products' %}">Approve Products</a>
        <a href="{% url 'send_email_to_subscribers' %}">Send Email</a>
        {% endif %}
        <a href="{% url 'nearby_places' %}">Local Eats</a>
        <a href="{% url 'chat' %}">AI support</a>
        <a href="{% url 'all_articles' %}">Articles</a>
        <a href="{% url 'contact' %}">Contact</a>
    </div>
</div>
<header>
    <div class="more">
        <i class="fa-solid fa-bars" onclick="toggleBar()"></i>
    </div>
    <a class="logo"><i class="fas fa-utensils"></i>Wellnesscorner</a>

    <nav class="navbar">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'all_recipes' %}">Recipes</a>
        <a href="{% url 'user_discounts' %}">My discounts</a>
        <a href="{% url 'myaccount' %}">My Profile</a>
        <a href="{% url 'logout' %}">Logout</a>
    </nav>

    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-search" id="search-icon" onclick="toggleSearch()"></i>
        <a href="{% url 'calculator' %}" class="fa-solid fa-calculator"></a>
        <a href="{% url 'basket_page' %}" class="fas fa-shopping-cart"></a>
    </div>

</header>
    {% if messages %}
        {% for message in messages %}
            <div{% if message.tags %} style="padding-top:30px" class="heading {{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
{% endif %}

    
    
    <div id="scannedBarcode"></div>
    

    <div class="search-container" id="search-container">
        <button class="scan-button" onclick="scanBarcode()">
            <i class="scan-icon fas fa-barcode"></i> Scan Barcode
        </button>
        <form action="{% url 'index' %}" method="post" class="search-form">
            {% csrf_token %}
            <input type="text" class="search-input" name="product_name" placeholder="Introduceți numele produsului">
            <button class="search-button" type="submit">
                <i class="search-icon fas fa-search"></i> Căutare
            </button>
        </form>
    </div>


{% if search_query %}
<div style="margin-top:40px;" class="products-container">
    {% if search_results %}
        {% for product in search_results %}
            <div class="product">
                
                <div class="top">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.product_name }}" class="product-image">
                {% endif %}
                </div>
                <div class="middle">
                <h1>{{ product.product_name }}</h1>
                </div>
                <div class="bottom">
                <h3>Brand: {{ product.brands|truncatewords:15 }}</h3>
                <h3>Quantity: {{ product.quantity }}</h3>
                {% if product.user_rating %}
                    <h3>Product Rating: {{ product.user_rating }}</h3>
                {% else %}
                    <h3>No rating available for this product.</h3>
                {% endif %}
                <h3>Price: {{ product.price }}</h3>
                <div class="product-button">
                {% if product.source == 'database' %}
                        <a href="{% url 'product_detail' product.id 'database' %}">View product</a>
                {% elif product.source == 'api' %}
                        <a href="{% url 'product_detail' product.id 'api' %}">View product</a>
                {% endif %}
                </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="no-products">
            <h2>No products found for your search</h2>
        </div>
    {% endif %}
</div>
{% else %}
{% if suggested_products %}
        <div style="padding-top:30px" class="heading">Suggested products</div>
        <div class="products-container">
            {% for product in suggested_products %}
                <div class="product">
                    <div class="top">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.product_name }}" class="product-image">
                    {% endif %}
                    </div>
                    <div class="middle">
                    <h1>{{ product.product_name }}</h1>
                    </div>
                    <div class="bottom">
                    <h3>Brand: {{ product.brands|truncatewords:15 }}</h3>
                    <h3>Quantity: {{ product.quantity }}</h3>
                    {% if product.user_rating %}
                        <h3>Product Rating: {{ product.user_rating }}</h3>
                    {% else %}
                        <h3>No rating available for this product.</h3>
                    {% endif %}
                    <h3>Price: {{ product.price }}</h3>
                    <div class="product-button">
                    {% if product.source == 'database' %}
                            <a href="{% url 'product_detail' product.id 'database' %}">View product</a>
                    {% elif product.source == 'api' %}
                            <a href="{% url 'product_detail' product.id 'api' %}">View product</a>
                    {% endif %}
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if best_rated_products %}
    <div style="padding-top:30px" class="heading">Best rated products</div>
    <div class="products-container">
        {% for product in best_rated_products %}
            <div class="product">
                
                <div class="top">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.product_name }}" class="product-image">
                {% endif %}
                </div>
                <div class="middle">
                <h1>{{ product.product_name }}</h1>
                </div>
                <div class="bottom">
                <h3>Brand: {{ product.brands|truncatewords:15 }}</h3>
                <h3>Quantity: {{ product.quantity }}</h3>
                {% if product.user_rating %}
                    <h3>Product Rating: {{ product.user_rating }}</h3>
                {% else %}
                    <h3>No rating available for this product.</h3>
                {% endif %}
                <h3>Price: {{ product.price }}</h3>
                <div class="product-button">
                {% if product.source == 'database' %}
                        <a href="{% url 'product_detail' product.id 'database' %}">View product</a>
                {% elif product.source == 'api' %}
                        <a href="{% url 'product_detail' product.id 'api' %}">View product</a>
                {% endif %}
                </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="no-products">
            <h2>No best rated products found</h2>
        </div>
    {% endif %}
    </div>
    
    {% if cheapest_products %}
    <div style="padding-top:30px" class="heading">Cheapest Products</div>
    <div class="products-container">
        {% for product in cheapest_products %}
            <div class="product">
                
                <div class="top">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.product_name }}" class="product-image">
                {% endif %}
                </div>
                <div class="middle">
                <h1>{{ product.product_name }}</h1>
                </div>
                <div class="bottom">
                <h3>Brand: {{ product.brands|truncatewords:15 }}</h3>
                <h3>Quantity: {{ product.quantity }}</h3>
                {% if product.user_rating %}
                    <h3>Product Rating: {{ product.user_rating }}</h3>
                {% else %}
                    <h3>No rating available for this product.</h3>
                {% endif %}
                <h3>Price: {{ product.price }}</h3>
                <div class="product-button">
                {% if product.source == 'database' %}
                        <a href="{% url 'product_detail' product.id 'database' %}">View product</a>
                {% elif product.source == 'api' %}
                        <a href="{% url 'product_detail' product.id 'api' %}">View product</a>
                {% endif %}
                </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div style="margin-top:40px;" class="products-container">
            <div style="padding-top:30px" class="heading">No products found</div>
        </div>
    {% endif %}
{% endif %}
</div>
{% if not request.user.is_subscribed %}
<div id="welcome">
    <div class="scris-sus">
        <h2>Subscribe for Exclusive Offers</h2>
        <p>
            Get access to special discounts and promotions. Sign up now!
        </p>
        <form action="{% url 'newsletter_subscription' %}" method="post">
            {% csrf_token %}
            <button class="subscribe" type="submit">Subscribe</button>
        </form>
    </div>          
</div>
{% endif %}

<footer class="footer">
    <div class="footer-container">
        <div class="social-media">
            <a href="https://github.com/MOMOKILLER000" class="social-icon"><i class="fa-brands fa-github"></i></a>      
        </div>
        <p class="footer-text">Project created by Buzdugan Mihnea-Andrei and Sănduleasa Daria-Elena</p>
    </div>
</footer>

<script>
    function toggleBar() {
        document.querySelector(".left-bar").classList.toggle("left-bar-expanded");
        document.querySelector(".content-page").classList.toggle("content-page-extended");
    }

    function closeBar() {
        document.querySelector(".left-bar").classList.remove("left-bar-expanded");
        document.querySelector(".content-page").classList.remove("content-page-extended");
    }

    function toggleSearch() {
        var searchContainer = document.getElementById("search-container");
        searchContainer.classList.toggle("show-search-container");
    }

</script>

<script src="https://kit.fontawesome.com/cfeb3f9958.js" crossorigin="anonymous"></script>
</body>
</html>

<script>
    function scanBarcode() {
    var foundProduct = false;

    Quagga.init({
        inputStream: {
            name: "Live",
            type: "LiveStream",
            target: document.querySelector('#scannedBarcode'),
            constraints: {
                facingMode: "environment" 
            },
        },
        decoder: {
            readers: ["ean_reader"]
        }
    }, function (err) {
        if (err) {
            console.error(err);
            return;
        }
        console.log("Initialization finished. Ready to start");
        Quagga.start();
        document.getElementById("scannedBarcode").style.display = "flex";
    });

    Quagga.onDetected(function (data) {
        console.log("Barcode detected and processed : [" + data.codeResult.code + "]", data);
        window.location.href = '/search_product_by_barcode/' + data.codeResult.code + '/';
        foundProduct = true;
    });

    function productNotFound() {
        if (!foundProduct) {
            console.log("Product not found after 15 seconds");
            Quagga.stop();
            document.getElementById("scannedBarcode").style.display = "none";
            document.getElementById("search-container").style.display = "none";
            location.reload();
        }
    }

    setTimeout(productNotFound, 35000);
}
</script>