{% load static %}
<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script
   src="https://kit.fontawesome.com/64d58efce2.js"
   crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="{% static 'login-register.css' %}">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <title>Sign in & Sign up Form</title>` 
 </head>
 <body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form method="post" action="{% url 'login' %}" class="sign-in-form">
                    {% csrf_token %}
                    <h2 class="title">Sign in</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="email" name="email" placeholder="Email" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password" placeholder="Password" />
                    </div>
                    <!-- Add reCAPTCHA widget here -->
                    <div class="g-recaptcha" data-sitekey="6Le2Qn4pAAAAAEdR17TBrFFUmfJjvSW6TQ1p316s"></div>
                    <input class="btn solid" type="submit" value="Login"/>
                </form>
            </div>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
   <div class="panels-container">
    <div class="panel left-panel">
     <div class="content">
      <h3>New here ?</h3>
      <p>
        Bine ai revenit! Ne-a fost dor de tine. Te rugăm să introduci datele tale pentru a te autentifica și a continua experiența noastră împreună!
      </p>
      <button class="btn transparent"><a href="{% url 'register' %}">Sign up</a></button>
     </div>
     <img src="pictures/log.svg" class="image" alt="" />
    </div>
   </div>
  </div>
 </body>
</html>