{% load static %}

<link rel="stylesheet" href="{% static 'style1.css' %}">
<div class="wrapper login">
  <div class="container">
      <div class="col-left">
          <div class="login-text">
              <h2>Welcome!</h2>
              <p>Create your account.<br>For Free!</p>
              <a href="{% url 'register' %}" class="btn">Sign Up</a>
          </div>
      </div>

      <div class="col-right">
          <div class="login-form">
              <h2>Login</h2>
              <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
        
        
                <div>
                    <label for="id_email">Email:</label>
                    <input type="email" name="email" required>
                </div>
        
                <div>
                    <label for="id_password">Password:</label>
                    <input type="password" name="password" required>
                </div>
        
                <button type="submit">Login</button>
            </form>
          </div>
      </div>

  </div>
</div>