{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Detail</title>
    <link rel="stylesheet" href="{% static 'calculator.css' %}">
</head>
<body>
    <div class="left-bar">
        <button class="close-button" onclick="closeBar()">
            <i class="fa-solid fa-times"></i>
        </button>
        <div class="links">
            <a href="{% url 'create' %}">Create Product</a>
            <a href="{% url 'my_products' %}">My Products</a>
            <a href="{% url 'create_post' %}">Create Post</a>
            <a href="{% url 'post_list' %}">Posts</a>
            <a href="{% url 'my_posts' %}">My posts</a>
            {% if request.user.is_superuser %}
            <a href="{% url 'approve_products' %}">Approve Products</a>
            <a href="{% url 'send_email_to_subscribers' %}">Send Email</a>
        {% endif %}
        <a href="{% url 'contact' %}">Contact</a>
        <a href="{% url 'calculator' %}">Calculator calorii</a>
        </div>
    </div>
    <header>
        <div class="more">
            <i class="fa-solid fa-bars" onclick="toggleBar()"></i>
        </div>
        <a href="#" class="logo"><i class="fas fa-utensils"></i>Wellnesscorner</a>
    
        <nav class="navbar">    
            <a href="{% url 'index' %}">Home</a>
            <a href="#about">about</a>
            <a href="{% url 'user_discounts' %}">My discounts</a>
            <a href="{% url 'myaccount' %}">My Profile</a>
            <a href="{% url 'logout' %}">Logout</a>
        </nav>
    
        <div class="icons">
            <i class="fas fa-bars" id="menu-bars"></i>
            <i class="fas fa-search" id="search-icon" onclick="toggleSearch()"></i>
            <a href="{% url 'calculator' %}" class="fa-solid fa-calculator"></a>
            <a href="{% url 'basket_page' %}" class="fas fa-shopping-cart"></a>
        </div>
    
    </header>
    <h1 class="heading">Meal Detail</h1>
    <div class="products-container">
        {% for meal_product in meal.mealproduct_set.all %}
        <div class="product">
            <!-- Display smaller image -->
            <div class="top">
            {% if meal_product.product.image %}
                <img src="{{ meal_product.product.image.url }}" alt="{{ meal_product.product.product_name }}" class="product-image">
            {% endif %}
            </div>
            <div class="middle">
                <h1>{{ meal_product.product.product_name }}</h1>
            </div>
            <div class="bottom">
                <h3 style="font-size:18px;">Nutritional Data:</h3>
                <ul class="product-details">
                    <li>Calories: {{ meal_product.kcal_per_100g }}</li>
                    <li>Proteins: {{ meal_product.protein_per_100g }}</li>
                    <li>Carbs: {{ meal_product.carbs_per_100g }}</li>
                    <li>Fats: {{ meal_product.fats_per_100g }}</li>
                </ul>
                <form action="{% url 'update_meal_product' meal_product.id %}" method="post">
                    {% csrf_token %}
                    <input type="number" name="quantity_grams" value="{{ meal_product.quantity_grams }}">
                    <button type="submit">Update</button>
                </form>
                <form action="{% url 'delete_meal_product' meal_product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>
        {% endfor %}
        {% for meal_api_product in meal.mealapiproduct_set.all %}
        <div class="product">
            <!-- Display smaller image -->
            <div class="top">
            {% if meal_api_product.api_product.image %}
                <img src="{{ meal_api_product.api_product.image.url }}" alt="{{ meal_api_product.api_product.product_name }}" class="product-image">
            {% endif %}
            </div>
            <div class="middle">
                <h1>{{ meal_api_product.api_product.product_name }}</h1>
            </div>
            <div class="bottom">
                <h3 style="font-size:18px;">Nutritional Data:</h3>
                <ul class="product-details">
                    <li>Calories: {{ meal_api_product.kcal_per_100g }}</li>
                    <li>Proteins: {{ meal_api_product.protein_per_100g }}</li>
                    <li>Carbs: {{ meal_api_product.carbs_per_100g }}</li>
                    <li>Fats: {{ meal_api_product.fats_per_100g }}</li>
                </ul>
                <form action="{% url 'update_meal_api_product' meal_api_product.id %}" method="post">
                    {% csrf_token %}
                    <input type="number" name="quantity_grams" value="{{ meal_api_product.quantity_grams }}">
                    <button type="submit">Update</button>
                </form>
                <form action="{% url 'delete_meal_api_product' meal_api_product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="total-section">
    <h2 style="font-size:24px;">Total</h2>
    <p>Total Calories: {{ meal.total_calories }}</p>
    <p>Total Proteins: {{ meal.total_proteins }}</p>
    <p>Total Carbs: {{ meal.total_carbs }}</p>
    <p >Total Fats: {{ meal.total_fats }}</p>
</div>
    <a class="back-button" href="{% url 'calculator' %}">Back to Product Summary</a>
</body>
<script>
    function toggleBar() {
document.querySelector(".left-bar").classList.toggle("left-bar-expanded");
document.querySelector(".content-page").classList.toggle("content-page-extended");
}

function closeBar() {
 document.querySelector(".left-bar").classList.remove("left-bar-expanded");
 document.querySelector(".content-page").classList.remove("content-page-extended");
}

</script>
<script src="https://kit.fontawesome.com/cfeb3f9958.js" crossorigin="anonymous"></script>
</html>
