{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Product Page</title>
    <link rel="stylesheet" href="{% static 'test.css' %}">
</head>
<body>
    <div class="left-bar">
    <button class="close-button" onclick="closeBar()">
        <i class="fa-solid fa-times"></i>
    </button>
    <div class="links">
        <a href="{% url 'create' %}">Create Product</a>
        <a href="{% url 'my_products' %}">My Products</a>
        <a href="{% url 'create_post' %}">Create Post</a>
        <a href="{% url 'post_list' %}">Posts</a>
        <a href="{% url 'my_posts' %}">My posts</a>
        {% if request.user.is_superuser %}
        <a href="{% url 'approve_products' %}">Approve Products</a>
        <a href="{% url 'send_email_to_subscribers' %}">Send Email</a>
        {% endif %}
        <a href="{% url 'nearby_places' %}">Local Eats</a>
        <a href="{% url 'chat' %}">AI support</a>
        <a href="{% url 'all_articles' %}">Articles</a>
        <a href="{% url 'contact' %}">Contact</a>
    </div>
</div>
<header>
    <div class="more">
        <i class="fa-solid fa-bars" onclick="toggleBar()"></i>
    </div>
    <a class="logo"><i class="fas fa-utensils"></i>Wellnesscorner</a>

    <nav class="navbar">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'all_recipes' %}">Recipes</a>
        <a href="{% url 'user_discounts' %}">My discounts</a>
        <a href="{% url 'myaccount' %}">My Profile</a>
        <a href="{% url 'logout' %}">Logout</a>
    </nav>

    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-search" id="search-icon" onclick="toggleSearch()"></i>
        <a href="{% url 'calculator' %}" class="fa-solid fa-calculator"></a>
        <a href="{% url 'basket_page' %}" class="fas fa-shopping-cart"></a>
    </div>

</header>
    <main>
        <div class="product-container">
            {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.product_name }}" class="product-image">
            {% endif %}
            <h2>{{ product.product_name }}</h2>
            <h3>Brand: {{ product.brands }}</h3>
    <h5>Quantity: {{ product.quantity }}</h5>
    <h5>Categories: {{ product.categories }}</h5>
    <h5>Nutrients:</h5>
    <ul>
        <li>Protein per 100g: {{ product.protein_per_100g }}</li>
        <li>Carbs per 100g: {{ product.carbs_per_100g }}</li>
        <li>Fats per 100g: {{ product.fats_per_100g }}</li>
        <li>Kcal per 100g: {{ product.kcal_per_100g }}</li>
    </ul>
    
            <div class="product-details">
                <div>
                    <h3>Price</h3>
                    <p>{{ product.price }}</p>
                </div>
                <div>
                    
    <h3>NutriScore Grade: </h3>
    {% if product.nutriscore %}
    <p>{{ product.nutriscore }}</p>
    {% else %}
    <p>Not Available</p>
    {% endif %}
                </div>
            </div>
    
            {% if common_allergies %}
    <h5>Common Allergies:</h5>
    <ul>
        {% for allergy in common_allergies %}
            <li class="allergy-message">{{ allergy }}</li>
        {% endfor %}
    </ul>
    <p>You cannot add this product to your basket due to common allergies.</p>
    {% else %}
    <form method="post" action="{% url 'add_to_basket' product.id source %}">
        {% csrf_token %}
        <input class="add-now-btn" type="submit" value="Add to Basket">
    </form>
    {% endif %}
    {% if common_allergies|length == 1 %}
    <p>There is {{ common_allergies|length }} common allergy.</p>
    {% elif common_allergies|length > 1 %}
    <p>There are {{ common_allergies|length }} common allergies.</p>
    {% else %}
    <p>No common allergies found.</p>
    {% endif %}
    {% if product_rating %}
    <h5>Product Rating: {{ product_rating }}</h5>
    {% else %}
    <p>No rating available for this product.</p>
    {% endif %}
    {% if product.id %}
    <form method="post" action="{% url 'rate_product' product.id source %}">
        {% csrf_token %}
        <label for="rating">Rating:</label>
        <input type="number" name="rating" min="0" max="10" step="0.1" required>
        <button class="add-now-btn" type="submit" class="btn btn-primary">Submit Rating</button>
    </form>
{% endif %}
        </div>
    </main>
    <script src="https://kit.fontawesome.com/cfeb3f9958.js" crossorigin="anonymous"></script>
    <script>
       function toggleBar() {
    document.querySelector(".left-bar").classList.toggle("left-bar-expanded");
    document.querySelector(".content-page").classList.toggle("content-page-extended");
    }
    function closeBar() {
    document.querySelector(".left-bar").classList.remove("left-bar-expanded");
    document.querySelector(".content-page").classList.remove("content-page-extended");
    }
    </script>
</body>
</html>
