{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="{% static 'style1.css' %}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <style>
        .container {
            max-width: 600px; /* Set the maximum width of the container */
            margin: 0 auto; /* Center the container horizontally */
        }
        .inputContainer select {
            width: 100%; /* Set the width of the select element to 100% */
        }
    </style>
</head>
<body>
    <div class="wrapper login">
        <div class="container">
            <div class="col-left">
                <div class="login-text">
                    <h2>Welcome!</h2>
                    <p>Already have an account?</p>
                    <a href="{% url 'login' %}" class="btn">Log in</a>
                </div>
            </div>
  
            <div class="col-right">
                <div class="login-form">
                    <h2>Sign up</h2>
                    <form method="post" action="{% url 'register' %}">
                        {% csrf_token %}
                        {{ form.non_field_errors }}

                        <div class="inputContainer">
                            <label for="{{ form.email.id_for_label }}">Email:</label>
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>

                        <div class="inputContainer">
                            <label for="{{ form.name.id_for_label }}">Name:</label>
                            {{ form.name }}
                            {{ form.name.errors }}
                        </div>

                        <div class="inputContainer">
                            <label for="{{ form.password1.id_for_label }}">Password:</label>
                            {{ form.password1 }}
                            {{ form.password1.errors }}
                        </div>

                        <div class="inputContainer">
                            <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
                            {{ form.password2 }}
                            {{ form.password2.errors }}
                        </div>
                        
                        <div class="inputContainer">
                            <label for="{{ form.allergies.id_for_label }}">Allergies:</label>
                            <select name="{{ form.allergies.name }}" id="{{ form.allergies.id_for_label }}" multiple>
                                {% for allergy in form.allergies.field.queryset %}
                                    <option value="{{ allergy.id }}">{{ allergy.name }}</option>
                                {% endfor %}
                            </select>
                            {{ form.allergies.errors }}
                        </div>

                        <div class="g-recaptcha" data-sitekey="6Le2Qn4pAAAAAEdR17TBrFFUmfJjvSW6TQ1p316s"></div> <!-- Include the reCAPTCHA widget here -->
                        <button type="submit">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
